In [2]:
#list using for loop

Students = ["Selva", "gana","pathi"]
for x in Students:
    print(x)

Selva
gana
pathi

In [3]:
#list using for loop and fstring
Students = ["Selva", "gana","pathi"]
for x in Students:
    print(f"{x.title()}, you are practizing daily")
print("Thank you very much")

Selva, you are practizing daily
Gana, you are practizing daily
Pathi, you are practizing daily
Thank you very much

In [5]:
#Numeric list
a =list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [6]:
#numeric for loop
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [7]:
#empty list assign value in dynamically
a = []
for x in range(1,16):
    val = x**2
    a.append(val)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]